/*FONT*/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

/*GENERAL*/

* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

a{
    text-decoration: none;
    color: #DDDDDD;
}

.clear{
    clear: both;  /* empéche les collision  */
}

body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    background-color: gray(18);
}

hr{
    margin: -200px 290px
}


.hidden{
    display: none;
}

.Containerisation{
    display: flex;
    MAX-width: 1380px;
    margin : 0 auto 30px ;
    flex-wrap: wrap;
    justify-content: center;
}


/*LES JEUX LES MOIN CHER*/
.moin_cher{
    font-size: 2em;
    margin: 70px 0 ;
    text-align: center;
    font-family: Lato, cursive;

}


/*LOGIN*/

.login-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}



/*FOOTER*/
footer {
    bottom: 0;
    width: 100%;
    background-color: rgb(73, 45, 104);
    padding: 10px;
    text-align: center;
    color: white;

}