/*FICHES*/
.row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: -250px 0 30px 0;
}

.row img {
    z-index: 1;
    width: 600px;
    height: 350px;
    border-radius: 10px;
    align-items: center;
    margin : 0 30px 30px 0;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.info {
    color: #fff;
    z-index: 1;
    width: 600px;
    height: 350px;
    background: #383838;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.info p {
    margin: 10px 0;
    font-size: 1.5em;
    font-family: 'Ninito', sans-serif;
    text-align: center;
}

.info h2 {
    margin: 20px 0;
    font-size: 1.5em;
    text-align: center;
}

.plat {
    margin: 30px 10px 0 10px;
    display: flex;
    justify-content: space-around;
    padding: 5px;
    background-color: #1b1e21;
    border-radius: 10px;
}

.plat p {
    padding: 10px;
    font-size: 1.5em;
    font-family: 'Lato', 'cursive';
}

.prix {
    display: flex;
    justify-content: center;
}

.prix h4 {
    margin: 20px 0;
    font-size: 2em;
    font-family: 'Lato', 'cursive';
}

.prix p {
    color: #fff;
    margin: 25px 10px 5px 0;
    font-size: 1.5em;
    font-family: 'Lato', 'cursive';
}

.btn-add {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 35px 0 -15px;
    align-items: center;
}

.btn-add button {
    cursor: pointer;
    color: #fff;
    margin: 10px;
    padding: 15px;
    width: 150px;
    height: 50px;
    background-color: #492d68;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    border: none;
}


.description, .video {
    margin: 0 180px;
    display: flex;
    flex-direction: column;
    font-size: 1.5em;
    justify-content: space-around;
    width: 50%;
    font-family: 'Ninito', sans-serif;
    font-weight: 500;
}

.descriptions {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.video video {
    padding: 15px;
    border-radius: 30px;
}

.description p {
    line-height: 25px;
    margin: 0;
    text-align: justify;
}

/*fait un media query pour que le .info soit en dessous de l'image*/ 
@media screen and (max-width: 1200px) {
    .row {
        flex-direction: column;
        align-items: center;
    }
    .info {
       
        margin: 0 0 30px 0;
    }
    .row img {
        margin: 0 0 30px 0;
    }
}

@media screen and (max-width: 1000px) {
    .row img {
        width: 500px;
        height: 300px;
        margin: 0 0 30px 0;
    }
    .info {
        width: 500px;
        height: 300px;
    }
    .description, .video {
        margin: 0 100px;
        width: 60%;
    }

}

@media screen and (max-width: 800px) {
    .row img {
        width: 400px;
        height: 250px;
        margin: 0 0 30px 0;
    }
    .info {
        width: 400px;
        height: 250px;
    }
    .description, .video {
        margin: 0 50px;
        width: 80%;
    }
}

