/* CSS for the Panier component */
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
.container_card {
    display: flex;
    justify-content: space-around;
    margin : 20px 30px 0 30px;
    flex-wrap: wrap;
  }
  
  .cards {
    display: flex;
    flex-direction: column;
    width: 65%;
    margin: 10px 20px;
    padding: 20px;
    border-radius: 10px;
    background-color: rgb(117, 90, 148);
    box-shadow: rgba(0, 0, 255, .2) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  }

  .cards h2 {
    margin: 20px 0;
    font-size: 2em;
    text-align: center;
    font-family: 'Lato', sans-serif;
  }


  .card_item {
    display: flex;
    margin: 0 20px 20px 0;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    border: 1px solid black;
  }
  
  .card_item_img {
    margin-right: 20px;
  }

.card_item_img img {
        width: 300px;
        height: auto;
        border-radius: 10px;
}
  
  .plusOuMois {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10%;
  }

  .card_item_content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 45%;
  }

    .card_item_content p {
        margin: 10px;
    }

  .card_global {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin: 10px 20px;
    padding: 20px;
    border-radius: 10px;
    background-color: rgb(117, 90, 148);
    font-family: 'Lato', sans-serif;
    box-shadow: rgba(0, 0, 255, .2) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    }

  .card_global a{
    border: 1px solid black;
    border-radius: 10px;
    margin: 10px 150px;
    text-decoration: none;
  }
  
  .card_total, .card_shipping, .card_tax, .card_Total_after_tax {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    margin: 50px 20px;
    font-weight: bold;
  }
  
  .card_global button {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
  }

  @media screen and (max-width: 1380px){
    .container_card{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .cards{
        width: 100%;
    }
  }

  @media screen and (max-width: 1000px){
    .card_global{
        width: 100%;
    }
  }

  @media screen and (max-width: 680px){
    .card_item_img img {
        width: 200px;
        height: auto;
}
  .card_global{
  width: 100%;
}
  }